@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Sofia pro";
  background: #fcfbf7;
}

/* Sidebar styling */
.sidebar {
  float: left;
  width: 272px;
  height: 100%;
  background: #f5ffff;
}

.sidebar header {
  font-size: 18px;
  text-align: center;
  line-height: 160%;
  user-select: none;
  margin-bottom: 30px;
}

.header-logo {
  align-items: center;
  padding: 10px;
}

.header-logo img {
  width: 120px;
}

.sidebar ul a {
  display: flex;
  height: 100%;
  width: 100%;
  line-height: 160%;
  font-size: 18px;
  color: var(--Greys-1300, #201f1f);
  padding: 5px 5px 5px 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}

.active {
  background: rgba(192, 253, 237, 1);
}

.link:hover {
  background: rgba(192, 253, 237, 1);
}

.sidebar ul a img {
  margin-right: 16px;
}
/* End of sidebar styling */

.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  background: #fcfbf7;
  border-bottom: 1px solid rgba(218, 210, 184, 0.7);
  max-width: 100%;
  height: 100%;
}

.text h1 {
  color: var(--Primary-900, #007a87);
  font-family: "Sofia Pro";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile h3 {
  color: #1b1b1b;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.profile img {
  margin-right: 20px;
}

.notification {
  margin-left: 20px;
}

.notification img:first-child {
  border-radius: 50%;
  border: 1px solid skyblue;
  width: 35px;
  height: 35px;
  position: relative;
}

.notification img:last-child {
  position: absolute;
  margin-left: -35px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
}
